// OUTPUTS  (hyprland: monitor = ,preferred,auto,auto — niri does this by default)
//
// Run `niri msg outputs` to get names, then uncomment and tweak.

/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=0 y=0
}
